html, body, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 100px;
  width: auto;
  background-color: pink;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  height: 30px;
  width: 300px;
  background-color: yellow;
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.options {
  height: 600px;
  width: 10%;
  background-color: red;
  top: 150px;
  left: 80px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.options section {
  height: 100px;
  width: 100px;
  background-color: blue;
}
